.flex{
    display: flex;

}
.column{
    flex-direction: column;
}
.block{
    display: block;
}
.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content:center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}


.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}

.p-15{
    padding: 1.5rem;
}

.p-02{
    padding: 0.2rem;
}

.m-auto{
    margin: auto;
}
.m-2{
    margin: 2rem;
}

.m-1{
    margin: 1rem;
}

.white{
    color: white;
}

.b-blue{
    border: 1px dotted blue; 
}
/*------------------*/
.button_red{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bg-lgray{
    background-color: rgb(226, 224, 224);
}
