@import url(/class_utilitaires.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.container_candidat{
    background-image: url(/medias/home-cover-pMkBh3b3\ \(1\).jpg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 495px;
}
.burger{
    display: none;
}

.recherche-w{
    border: 1px dotted blue;
}
.recherche-w button{
    height: 100%;
    background-color: red;
    border-radius: 0 4px 4px 0;
}
li{
    font-size: x-small;
}
.card{
    background-color: aquamarine;
    width: 28%;
    height: 300px;
}
.container_card{
    flex-wrap: wrap;
}
.vigilance-actu_regions{
    gap: 1rem;
}
p{
    font-size: small;
    color: rgb(68, 67, 67);
}
li{
    color: rgb(68, 67, 67);
    list-style-type: none;
}
nav{
    flex: 1;
  
}
